.profile_pic {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.avatar {
    vertical-align: middle;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

