//fontawesome
@import "~@fortawesome/fontawesome-free/css/all.css";
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.profile_pic {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.avatar {
  vertical-align: middle;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
